<div class="d-flex justify-content-center">
    <h1>About this website</h1>
</div>
<p> This project is a resource for language learners to find content (content being anything that can be watched and/or listened to) to aid their language learning</p>
<p></p>
<div class="d-flex justify-content-center">
    <h2>Content Finder</h2>
</div>
<p> Content Finder is about helping you to find content to aid your language learning journey. You may have asked yourself this question: </p>
<p> "I want to watch some series, movies, videos (or listen to some podcasts etc.) to practise my target language, but I cant find any."</p>
<p> Content Finder is here to help. We host a crowdsourced list of content you can watch/ listen to to practise any language and have features relevant to language learning</p>
<p>Think of it like Rotten Tomatoes or IMDB for languages learning</p>
<p> Some of the features include:</p>
<ul>
    <li>Reviews where fellow learners can share how a serie/movie etc. has helped them learn their language</li>
    <li>Tags to help you find the content you are looking for</li>
    <li>Information relevant to language learning like the target language, and the approximate difficulty level of the content</li>
</ul>

<p> The platform is free to use, the only thing we ask of users is that they submit some content in their native language.</p>
<p>It could be anything: a popular tv serie, some fun or popular movies, youtube videos: you name it!</p>

<p class="font-weight-bold">Stijn van Houwelingen</p>
<p class="font-weight-bold">2169664</p>
<h2>Entities</h2>
<p>Content</p>
<ul>
    <li>id: Number</li>
    <li>name: string</li>
    <li>tags: string[] (tags that help users get an idea of what the content is)</li>
    <li>inProduction: boolean ( is the content in production, or are there no new episodes anymore)</li>
    <li>platforms: {{'[{'}}name: string, link: string{{'}]'}} (links to platforms like Youtube, Spotify etc.)</li>
    <li>contentInterface: ContentInterface (how do you consume the content? Enumeration with the following options:)</li>
    <ul>
        <li>Video,Audio,Either</li>
    </ul>
    <li>contentType: ContentType (What kind of content is it? Enumeration with the following options:)</li>
    <ul>
        <li>Podcast,Movie,Serie,Videos (the idea is that a podcast can be both video and audio e.g on Youtube</li>
    </ul>
    <li>websiteLink?: string (link to a website, if there is one)</li>
    <li>language: string (Which language is spoken in the content?)</li>
    <li>targetLanguage?: string (only necessary if for instance the video is about Spanish but in English. Then language is English, target language is Spanish)</li>
</ul>
<h2>Model</h2>
<img src="/assets/document.png" />
<h2>Tests</h2>
<div class="p-2">
    <img src="/assets/tests.png" />
</div>