<div class="d-flex flex-column">
    <h1 class="m-auto py-2">Edit</h1>
</div>
<div class="d-flex flex-column justify-content-center col-5 mx-auto">
    <form class="d-flex justify-content-center flex-column" #contentEditForm="ngForm" name="editForm" (ngSubmit)="contentEditForm.form.valid && onSubmit()">
        <div class="form-row">
            <div class="form-group">
                <label for="userFirstName">First name</label>
                <input type="text" class="form-control" [(ngModel)]="user.name.firstName" name="userFirstName" #userFirstName="ngModel" [ngClass]="{
                'is-invalid': userFirstName.invalid
            }" required/>
            </div>
            <div class="form-group">
                <label for="userLastName">Last name</label>
                <input type="text" class="form-control" [(ngModel)]="user.name.lastName" name="userLastName" #userLastName="ngModel" [ngClass]="{
                'is-invalid': userLastName.invalid
            }" required/>
            </div>
            <div class="form-group">
                <label for="userEmail">Email</label>
                <input type="text" class="form-control" [(ngModel)]="user.email" name="userEmail" #userEmail="ngModel" [ngClass]="{
                'is-invalid': userEmail.invalid
            }" required/>
            </div>
            <div class="form-group w-100">
                <button class="btn btn-success d-block" [disabled]="!contentEditForm.valid" type="submit" (click)="onSubmit()">Save</button>
            </div>
        </div>

    </form>
</div>